---
import Box from '@components/Box.astro';

export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<Box inverted>
	<a href={href} class="link-plain text-sky-100 hover:text-white hover:drop-shadow">
		<h2 class="drop-shadow-sm text-2xl md:text-3xl font-bold mb-1">
			{title}
			<span>&rarr;</span>
		</h2>
	</a>
	<p>
    <slot />
  </p>
  <p class="mt-4">
    <a href={href} class="text-sm text-gray-50 link-inverted">
      Explore
    </a>
  <p>
</Box>
