---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<li class="px-8 pt-6 pb-8 rounded-lg bg-gradient-to-br from-sky-600 to-sky-700">
	<a href={href} class="link-plain text-sky-100 hover:text-white hover:drop-shadow">
		<h2 class="drop-shadow-sm text-2xl md:text-3xl font-bold mb-1">
			{title}
			<span>&rarr;</span>
		</h2>
	</a>
	<p class="text-gray-50">
    <slot />
  </p>
  <p class="mt-4">
    <a href={href} class="text-sm text-gray-50 link-inverted">
      Explore
    </a>
  <p>
</li>
