---
import Box from '@components/Box.astro';
import Heading from '@components/Heading.astro';

export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<Box inverted>
  <a
    href={href}
    class="link-plain text-sky-100 hover:text-white hover:drop-shadow"
  >
    <Heading level={2}>
      {title}
      <span>&rarr;</span>
    </Heading>
  </a>
  <p>
    <slot />
  </p>
  <p class="mt-4">
    <a href={href} class="text-sm text-gray-50 link-inverted">Explore</a>
  </p>
</Box>
