---
export const DOWNLOAD_URL =
  'https://github.com/scriptin/kanji-frequency/tree/master/data';

export interface Props {
  url?: string;
}

const { url } = Astro.props;
---

<a href={url ?? DOWNLOAD_URL} class="font-bold" target="_blank"> Download</a>
