---
export interface Props {
	textsCount: number;
	totalKanjiCount: number;
	uniqueKanjiCount: number;
  class?: string;
}

const {
  textsCount,
  totalKanjiCount,
  uniqueKanjiCount,
  class: className,
} = Astro.props;

function humanReadable(n: number) {
  return new Intl.NumberFormat('en-US').format(n);
}

const data = [
  { title: 'Texts', value: humanReadable(textsCount) },
  { title: 'Total kanji', value: humanReadable(totalKanjiCount) },
  { title: 'Uniq. kanji', value: humanReadable(uniqueKanjiCount) },
];
---

<div class:list={[
  className,
  "flex flex-wrap gap-x-3 gap-y-1 text-sky-100"
]}>
	{data.map(({ title, value }) => (
	  <div class="flex flex-col first:pl-0 first:border-l-0 pl-3 border-l border-l-sky-300/20">
	    <div class="text-xs text-sky-300 uppercase">
	      {title}
	    </div>
	    <div>
	      {value}
	    </div>
	  </div>
	))}
</div>
