---
import type {
  CharactersTableRow,
  DatesTableRow,
  DocumentsTableRow,
} from 'src/datasets';

export interface CharProps {
  type: 'characters';
  data: CharactersTableRow[];
}

export interface DocProps {
  type: 'documents';
  data: DocumentsTableRow[];
}

export interface DateProps {
  type: 'dates';
  data: DatesTableRow[];
}

export type CharOrDocProps = CharProps | DocProps | DateProps;

export interface Column {
  name: string;
  type: string;
  comment?: string;
}

export type Props = CharOrDocProps & {
  nRows: number;
  columns: Column[];
  class?: string;
};

const { nRows, data, columns, class: className } = Astro.props;

const rows = data.slice(0, nRows);
---

<table
  class:list={[
    className,
    'text-sm text-sky-100 bg-gradient-to-br from-sky-700 to-sky-800 rounded-lg',
  ]}
>
  <thead>
    <tr>
      {
        columns.map((c) => (
          <td class="font-bold px-3 py-1 border-b border-b-sky-600">
            {c.name}
          </td>
        ))
      }
    </tr>
    <tr>
      {
        columns.map((c) => (
          <td class="text-xs text-sky-300 align-text-top uppercase px-3 py-1">
            {c.type}
          </td>
        ))
      }
    </tr>
    <tr>
      {
        columns.map((c) => (
          <td class="text-xs text-sky-300 align-text-top px-3 py-1 border-b border-b-sky-600">
            {c.comment ?? ' '}
          </td>
        ))
      }
    </tr>
  </thead>
  <tbody>
    {
      rows.map((row) => (
        <tr>
          {columns.map((c) => (
            <td class="px-3 py-1">
              {
                row[
                  c.name as keyof (
                    | CharactersTableRow
                    | DocumentsTableRow
                    | DatesTableRow
                  )
                ]
              }
            </td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
