---
import type { MarkdownLayoutProps } from 'astro';

import BaseLayout from '@layouts/BaseLayout.astro';
import Box from '@components/Box.astro';
import PageTitle from '@components/PageTitle.astro';
import PageSubtitle from '@components/PageSubtitle.astro';
import DownloadLink from '@components/DownloadLink.astro';

import type { DatasetKey } from 'src/datasets';

type Props = MarkdownLayoutProps<{
  title: string;
  subtitle: string;
  datasetKey?: DatasetKey;
  downloadUrl?: string;
}>;

const { title, subtitle, datasetKey, downloadUrl } = Astro.props.frontmatter;
---

<BaseLayout title={`${title} - Kanji usage frequency`}>
  <Box slot="header">
    <PageTitle>
      {title}
    </PageTitle>
    <PageSubtitle>
      {subtitle}
    </PageSubtitle>
    <nav>
      <a href="/kanji-frequency/">&larr; Home</a>
    </nav>
  </Box>
  <Box inverted slot="content">
    {
      (datasetKey || downloadUrl) && (
        <p class="mb-4">
          <DownloadLink url={downloadUrl} />
        </p>
      )
    }
    <article class="markdown">
      <slot />
    </article>
  </Box>
</BaseLayout>
